<div>
<div class="pull-right">
</div>
    <div class="well">
        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
        
        {# Les erreurs générales du formulaire #}
        {{ form_errors(form) }}

        {# Génération manuelle du formulaire #}
        {# Nom de l'agent #}
        <div class="form-group my-5">
            {# Génération du label #}
            {{ form_label(form.nom, "Nom de l'agent", {'label_attr': {'class': 'cal-sm-2 control-label'}}) }}
            {# Affichage des erreurs pour ce champ précis #}
            {{ form_errors(form.nom) }}
            <div>
                {# Génération de l'input. #}
                {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        {# Prénom de l'agent #}
        <div class="form-group my-5">
            {# Génération du label #}
            {{ form_label(form.prenom, "Prénom de l'agent", {'label_attr': {'class': 'cal-sm-2 control-label'}}) }}
            {# Affichage des erreurs pour ce champ précis #}
            {{ form_errors(form.prenom) }}
            <div>
                {# Génération de l'input. #}
                {{ form_widget(form.prenom, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        {# Date de Naissance de l'agent #}
        <div class="form-group my-5">
            {# Génération du label #}
            {{ form_label(form.DateNaissance, "Date de naissance de l'agent", {'label_attr': {'class': 'cal-sm-2 control-label'}}) }}
            {# Affichage des erreurs pour ce champ précis #}
            {{ form_errors(form.DateNaissance) }}
            <div>
                {# Génération de l'input. #}
                {{ form_widget(form.DateNaissance, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        {# Code d'identification de l'agent #}
        <div class="form-group my-5">
            {# Génération du label #}
            {{ form_label(form.codeIdentification, "Code d'identification de l'agent", {'label_attr': {'class': 'cal-sm-2 control-label'}}) }}
            {# Affichage des erreurs pour ce champ précis #}
            {{ form_errors(form.codeIdentification) }}
            <div>
                {# Génération de l'input. #}
                {{ form_widget(form.codeIdentification, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        {# Mission de l'agent #}
        <div class="form-group my-5">
            {# Génération du label #}
            {{ form_label(form.missions, "Missions disponibles (Optionnel, laissez vide si aucune mission voulu)", {'label_attr': {'class': 'cal-sm-2 control-label'}}) }}
            {# Affichage des erreurs pour ce champ précis #}
            {{ form_errors(form.missions) }}
            <div>
                {# Génération de l'input. #}
                {{ form_widget(form.missions, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        {# Nationnalité #}
        <div class="form-group my-5">
            {# Génération du label #}
            {{ form_label(form.Nationnalite, "Nationnalité", {'label_attr': {'class': 'cal-sm-2 control-label'}}) }}
            {# Affichage des erreurs pour ce champ précis #}
            {{ form_errors(form.Nationnalite) }}
            <div>
                {# Génération de l'input. #}
                {{ form_widget(form.Nationnalite, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        {# Specialite #}
        <div class="form-group my-5">
            {# Génération du label #}
            {{ form_label(form.Specialites, "Specialité", {'label_attr': {'class': 'cal-sm-2 control-label'}}) }}
            {# Affichage des erreurs pour ce champ précis #}
            {{ form_errors(form.Specialites) }}
            <div>
                {# Génération de l'input. #}
                {{ form_widget(form.Specialites, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <p>
        {# Génération automatique des champs pas encore écrits #}
        {{ form_rest(form) }}
        {# Pour le bouton, pas de label ni d'erreur, on affiche juste le widget #}
        {{ form_widget(form.Sauvegarde, {'attr': {'class': 'btn btn-primary'}}) }}
        {# Fermeture de la balise <form> de formulaire HTML #}
        {{ form_end(form) }}
    </div>
</html>
