{% extends "basetemplate.html.twig" %}
{% block title%}

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
<div class="row justify-content-around">
    <div class="col-10">
        <div class="pull-right">
        </div>
        <h1 class="text-center">Ajouter une cible</h1>
        <hr class="my-5">

        <a href="{{ path('cible') }}" class="link-secondary text-decoration-none mb-4">← Retour</a>

        {{ include('cible/formulaireCible.html.twig')}}
        
        <a href="{{ path('cible') }}" class="link-secondary text-decoration-none mb-4">← Retour</a>
    </div>
</html>

{% block JS %}
    {{ parent() }}
{% endblock %}

{% endblock %}