{% extends "basetemplate.html.twig" %}
{% block title%}

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
<div class="row justify-content-around">
    <div class="col-10">
        <div class="pull-right">
        </div>

        <h1 class="text-center">Modification Cible : {{ modificationCible.nom }} {{ modificationCible.prenom }}</h1>
        <hr class="my-5">

        {{ include('cible/formulaireCible.html.twig')}}

        <p class="my-5"><a href="{{ path('cible-details', {'id': modificationCible.id}) }}" class="link-secondary text-decoration-none">← Retour</a></p>

    </div>
</html>

{% block JS %}
    {{ parent() }}
{% endblock %}

{% endblock %}