{% extends "basetemplate.html.twig" %}
{% block title%}

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
<div class="row justify-content-around">
    <div class="col-10 text-center">
        <div class="pull-right">
        </div>
        
        <h1 class="my-5">Détails de la planque : {{ detailPlanque.code }}</h1>
        <hr class="my-3">

        <div class="row my-5 justify-content-evenly">
            <div class="col-5 bg-light shadow rounded p-4">
                <div class="text-center">
                    <h4>Infos planque</h4>
                    <hr class="bg-primary text-primary">
                </div>
                <p>Adresse : {{ detailPlanque.adresse }}</p>
                <p>Code postal : {{ detailPlanque.CP }}</p>
                <p>Ville : {{ detailPlanque.CP }}</p>
                <p>Pays : {{ detailPlanque.pays.nom }}</p>
                <p>Type : {{ detailPlanque.type }}</p>
            </div>
            <div class="col-4 bg-light shadow rounded p-4">
                <div class="text-center">
                    <h4>Missions</h4>
                    <hr class="bg-primary text-primary">
                </div>
                <p>{% for mission in detailPlanque.missions %} - <a href="{{ path('mission-details', {id: mission.id}) }}">{{ mission.titre }}</a> <br/>{% else %} Aucune mission {% endfor %}</p>
            </div>
        </div>

        <a href ="{{ path('planque-modification', {id: detailPlanque.id}) }}" class ="my-5 btn btn-primary">Modifier planque</a>

    </div>
</div>

</html>
{% endblock %}