<div>
<div class="pull-right">
</div>
    <div class="well">
        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
        
        {# Les erreurs générales du formulaire #}
        {{ form_errors(form) }}

        {# Génération manuelle du formulaire #}
        {# Code de la planque #}
        <div class="form-group my-5">
            {# Génération du label #}
            {{ form_label(form.code, "Code de la planque", {'label_attr': {'class': 'cal-sm-2 control-label'}}) }}
            {# Affichage des erreurs pour ce champ précis #}
            {{ form_errors(form.code) }}
            <div>
                {# Génération de l'input. #}
                {{ form_widget(form.code, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        {# Adresse de la planque #}
        <div class="form-group my-5">
            {# Génération du label #}
            {{ form_label(form.adresse, "Adresse de la planque", {'label_attr': {'class': 'cal-sm-2 control-label'}}) }}
            {# Affichage des erreurs pour ce champ précis #}
            {{ form_errors(form.adresse) }}
            <div>
                {# Génération de l'input. #}
                {{ form_widget(form.adresse, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        {# Code postal de la planque #}
        <div class="form-group my-5">
            {# Génération du label #}
            {{ form_label(form.CP, "Code postal de la planque", {'label_attr': {'class': 'cal-sm-2 control-label'}}) }}
            {# Affichage des erreurs pour ce champ précis #}
            {{ form_errors(form.CP) }}
            <div>
                {# Génération de l'input. #}
                {{ form_widget(form.CP, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        {# Ville de la planque #}
        <div class="form-group my-5">
            {# Génération du label #}
            {{ form_label(form.ville, "Ville de la planque", {'label_attr': {'class': 'cal-sm-2 control-label'}}) }}
            {# Affichage des erreurs pour ce champ précis #}
            {{ form_errors(form.ville) }}
            <div>
                {# Génération de l'input. #}
                {{ form_widget(form.ville, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        {# Pays de la planque #}
        <div class="form-group my-5">
            {# Génération du label #}
            {{ form_label(form.pays, "Pays de la planque", {'label_attr': {'class': 'cal-sm-2 control-label'}}) }}
            {# Affichage des erreurs pour ce champ précis #}
            {{ form_errors(form.pays) }}
            <div>
                {# Génération de l'input. #}
                {{ form_widget(form.pays, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        {# Type de planque #}
        <div class="form-group my-5">
            {# Génération du label #}
            {{ form_label(form.type, "Type de planque ", {'label_attr': {'class': 'cal-sm-2 control-label'}}) }}
            {# Affichage des erreurs pour ce champ précis #}
            {{ form_errors(form.type) }}
            <div>
                {# Génération de l'input. #}
                {{ form_widget(form.type, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        {# Mission ou se trouve la planque #}
        <div class="form-group my-5">
            {# Génération du label #}
            {{ form_label(form.missions, "Mission attribuée(s) à la planque (facultatif)", {'label_attr': {'class': 'cal-sm-2 control-label'}}) }}
            {# Affichage des erreurs pour ce champ précis #}
            {{ form_errors(form.missions) }}
            <div>
                {# Génération de l'input. #}
                {{ form_widget(form.missions, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <p>
        {# Génération automatique des champs pas encore écrits #}
        {{ form_rest(form) }}
        {# Pour le bouton, pas de label ni d'erreur, on affiche juste le widget #}
        {{ form_widget(form.Sauvegarde, {'attr': {'class': 'btn btn-primary'}}) }}
        {# Fermeture de la balise <form> de formulaire HTML #}
        {{ form_end(form) }}
    </div>
</html>
